body{
    background-color: #111111;
    color: #fff;
}

.containerLogin{
    
    margin: auto;
    width: 30%;
}

.signup-div{
    margin: auto;
    width: 30%;
}
.form-control{
    margin-top: 5%;
}
a{
    color: #222222;
    text-decoration: none;
    font-weight: 500;
}
a:hover{
    color:crimson;
    text-decoration: none;
    font-weight: 500; 
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #343A40;
}