body{
    background-color: #111111;
    color: #fff;
}

.containerLogin{
    
    margin: auto;
    width: 30%;
}

.signup-div{
    margin: auto;
    width: 30%;
}
.form-control{
    margin-top: 5%;
}
a{
    color: #222222;
    text-decoration: none;
    font-weight: 500;
}
a:hover{
    color:crimson;
    text-decoration: none;
    font-weight: 500; 
}
/* Products editing */
.products{
    display: flex;
    justify-content: center;
    align-items: center;
}
.products li{
    list-style-type: none;
    padding: 0;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem #c0c0c0 solid;
}
.product{
    
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product-image{
    max-width: 34rem;
    max-height: 34rem;
}
.product-name{

}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #343A40;
}